#slideWrap {
	height: 33em;		/* Wrapper for the slides */
	position: relative;
}

#slideWrap img {
	width: 100%;
	height: 33em;      /* Where the slide picture is*/
}

#slideButtons {
	position: absolute;
	bottom: 0;
	left: calc(50% - 8.375em / 2);
}

.buttons {
	display: block;
	height: 2em;
	width: 2em;
	border: 1px solid white;
	background-color: black;
	border-radius: 100%;
	float: left;
	margin-bottom: 0.5em;
	margin-left: 1em;
}

#button1 {	/* For å få midstilte knapper */
	margin-left: 0;
}

.buttons:hover {
	background-color: white;
	border-color: black;
}

#picBoxes {
	height: 15em;
}

#picBoxes li {
	list-style: none;
	width: calc(25% - 1px);
	height: 100%;
	float:left;
	border-left: 1px solid black;
}

#picBoxes a {
	text-decoration: none;
	background-color: gray;
	border-right: 1px black solid;
	border-bottom: 1px black solid;
	border-top: 1px black solid;
	color: orange;
}

#picBoxes a:hover {
	background-color: black;
	border-color: orange;
}

#boks1 {
	background-image: url(Pics/Index/hero1.jpg);
	background-size: 100% 100%;
}

#boks2 {
	background-image: url(Pics/Index/hero2.jpg);
	background-size: 100% 100%;
}

#boks3 {
	background-image: url(Pics/Index/hero3.jpg);
	background-size: 100% 100%;
}

#boks4 {
	background-image: url(Pics/Index/hero4.jpg);
	background-size: 100% 100%;
}

#sirkelWrap {
	height: 23em;
	width: auto;
	overflow: auto;
}

#sirkelWrap ul {
	list-style: none;
	left-margin: 0;
}

#sirkelBilder li {
	border: 1px solid black;
	border-radius: 100%;
	width: 16em;
	height: 16em;
	display: inline-block;
	margin-left: 7.5em;
	margin-top: 3%;
}

#sirkelBilder li p {		/* Tekst under bildene (navn) */
	text-align: center;
	position: relative;
	top: 100%;
	font-size: 1.5em;
	font-weight: bold;
}

#sirkel1 {
	background-image: url(Pics/Index/person5.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

#sirkel2 {
	background-image: url(Pics/Index/person4.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

#sirkel3 {
	background-image: url(Pics/Index/person3.jpg);
	background-repeat: no-repeat;
	background-size: 130%;
	background-position: center;
}

#fotografene {
	margin-top: 3px;
	margin-left: 3px;
	font-size: 1.5em;
}

#info {
	background-color: white;
	border-top: 1px black solid;
	padding: 1em;
}