#slideWrap {
	height: 40em;		/* Wrapper for the slides */
	position: relative;
	background: white;
}

#slideWrap img {
	width: 100%;
	height: 40em;      /* Where the slide picture is*/
}

#slideButtons {
	position: absolute;
	bottom: 0;
	left: calc(50% - 8.375em / 2);
}

.buttons {
	display: block;
	height: 2em;
	width: 2em;
	border: 1px solid white;
	background-color: black;
	border-radius: 100%;
	float: left;
	margin-bottom: 0.5em;
	margin-left: 1em;
}

#button1 {	/* For å få midstilte knapper */
	margin-left: 0;
}

.buttons:hover {
	background-color: white;
	border-color: black;
}

#picBoxes {
	height: 15em;
}

#picBoxes li {
	list-style: none;
	width: calc(25% - 1px);
	height: 100%;
	float:left;
	border-left: 1px solid black;
}

#picBoxes a {
	float:left;
	text-decoration: none;
	background-color: #F7921E;
	padding: 1em;
	border-right: 1px black solid;
	border-bottom: 1px black solid;
	border-bottom-right-radius: 1em;
	color: #FFFFCC;
	font-weight: bold;
}

#picBoxes a:hover {
	background-color: #A85F0C;
	border-color: white;
	text-shadow: 1px 1px 1px #000;
}

#boks1 {
	background-image: url(Pics/Index/bryllup_02.jpg);
	background-size: 100% 100%;
}

#boks2 {
	background-image: url(Pics/Index/gravid.jpg);
	background-size: 100% 100%;
}

#boks3 {
	background-image: url(Pics/Index/baby.jpg);
	background-size: 100% 100%;
}

#boks4 {
	background-image: url(Pics/Index/family2.jpg);
	background-size: 100% 100%;
}

#info {
	background-color: white;
	padding: 1em;
}