* {   /* Dette er en ALL-selector */
	margin: 0;
	padding: 0;
}

html {
	background-image: url(Pics/Index/background2.jpg);
	background-color: orange;
	background-size: 100%
}

body {
	font-family: Verdana, sans-serif;
}

header {
	background-color: black;
	height: 5em;
	width: 100%;
	border-top: 0.4em solid gray;
	border-bottom: 0.4em solid gray;
}

.headerContainer {
	width: 50%;
	height: inherit;
	margin: 0 auto;
}

#logo {
	height: 4em;
	width: 10%;		/* 10% av container */
	background-image: url(Pics/Index/batman.jpg);
	background-size: 100% 100%;
	float: left;
	margin: 0.5em 0;
	margin-right: 10%;  /* 10% av container */
}

nav {
	width: 80%;		/* Resterende 80% av container */
	height: inherit;
	float: right;
}

#navElements {
	list-style: none;	/* Fjerne bullet-points */
	height: inherit;
	overflow: auto;
}

#navElements a {
	color: white;
	text-decoration: none;
	font-size: 100%;
	float: left;
	margin-left: 2em;
	background-color: #252525;
	padding: 1.6%;
	border: 1px solid silver;
	border-radius: 0.3em;
	margin-top: 0.8em;
}

#navElements a:hover {
	background-color: #CCCCCC;
}

section#main {			/* Main Section! */
	border: 1px black solid;
	border-top: none;
	margin: auto;
	width: 50%;
	height: auto;
}

.content {				/* Ramme til Bildeslide, Bokser og Sirkelbilder */
	border-bottom: 1px black solid;
	width: 100%;
	height: auto;
}