* {   /* Dette er en ALL-selector */
	margin: 0;
	padding: 0;
}

html {
	background-image: url(Pics/Index/background3.jpg);
	background-color: orange;
	background-size: 100%;
	height: 100%;
}

body {
	font-family: Verdana, sans-serif;
	height: 100%;
}

header {
	background-color: black;
	height: 5em;
	width: 100%;
	border-bottom: 0.5em solid gray;
}

.headerContainer {
	height: inherit;
	margin-left: 25%;
	overflow: auto;
}

#logo {
	height: 4em;
	width: 18em;
	background-image: url(Pics/Index/logo.jpg);
	background-size: 100% 100%;
	margin: 0.5em 0;
	float: left;
}

nav {
	width: 100%;
	height: inherit;
}

#navElements {
	list-style: none;
	height: inherit;
	width: 100%;
}

#navElements a {
	color: #FFFFCC;
	text-decoration: none;
	text-align: center;
	font-size: 100%;
	float: left;
	margin-left: 5px;
	background-color: orange;
	padding: 1em;
	width: 5em;
	border-bottom: none;
	border-top-right-radius: 0.3em;
	border-top-left-radius: 0.3em;
	margin-top: 27px;
}

#navElements a:hover {
	background: #A85F0C;
    text-shadow: 1px 1px 1px #000;
    color: #FFF;
}

#navElements a#thisPage {
	background: gray;
	color: white;
	text-shadow: none;
}

section#main {			/* Main Section! */
	border: 1px black solid;
	margin: auto;
	width: 50%;
	height: auto;
	box-shadow: 10px 10px 15px, -10px 10px 15px;
}

.content {				/* Ramme til Bildeslide, Bokser og Sirkelbilder */
	border-bottom: 1px black solid;
	width: 100%;
	height: auto;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

#foot {
    width: 100%;
    height: 2em;
    background-color: black;
    border-top: 0.3em solid gray;
    position: absolute;
    bottom: 0;
    text-align: center;
}

#foot p{
	color: white;
}

#spacer {
	padding-bottom: 3em;
}