#holder {
    height: 6em;
    width: auto;
    padding-left: 10%;
    background-color: black;
}
    
#holder ul {
    list-style: none;
}

#holder ul li a {
    text-decoration: none;
    float: left;
    margin-right: 5px;
    font-family: "Arial Black", Gadget, sans-serif;
    color: #FFFFCC;
    padding: 28px;
    width: 5%;
    text-align: center;
    background: #F7921E;
    border-bottom-left-radius: 1.8em;
    border-bottom-right-radius: 1.8em;
}

#holder ul li a:hover {
    background: #A85F0C;
    color: #FFF;
    text-shadow: 1px 1px 1px #000;
}

#holder ul li a#thislink {
    background: gray;
    padding-bottom: 35px;
    color: white;
    text-shadow: none;
}

body {
    font-family: Verdana, sans-serif;      
}

#content {
    background: #F7921E;
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, #FFFFFF 50%, #000 100%);
    background: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0) 0%, #FFFFFF 50%, #000 100%);
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: auto;
}

.gallery {
    width: 1090px;
    margin: auto;
}

.gallery ul {
    list-style: none;
}

.gallery li {
    float: left;
    margin: 10px;
}

.gallery img {
    display: block;
    padding: 5px;
    background: orange;
    border: 1px solid black;
    box-shadow: 1px 1px 2px #000;
}

.gallery img:hover {
    border: 1px solid #fff;
    background: white;
}
